@charset "utf-8";
/* @Author haskell */
/*@import "swiper.min.css";*/
@import "idangerous.swiper.css";
@import "animate.min.css";
@import "style.css";


/* ----Reset---- */
html,body,div,dl,dt,dd,ol,ul,li,p,span,em,cite,del,a,img,
h1,h2,h3,h4,h5,h6,object,pre,code,
form,fieldset,legend,pre,select,textarea,blockquote,q,
table,caption,thead,tbody,tfoot,th,td,button,input { margin:0;padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {font-family:"Source Han Sans CN Medium","Microsoft YaHei","微软雅黑","黑体","宋体",Helvetica,Arial,Tahoma;font-size:14px; color:#333;overflow-y:scroll; }
table { border-collapse:collapse; border-spacing:0;}
img, fieldset, abbr, acronym { border:none;}
a img { border:none; padding:0; margin:0;}
ol,ul,li {list-style:none;}
blockquote,q { quotes:none;}
address,caption,cite,code,dfn,em,th,var { margin:0;padding:0;}
header, footer, article, section, nav, menu, hgroup {display:block;margin:0;padding:0;}
input,textarea{border: none;outline: none;}
input::-ms-clear { display: none; }
button {font-family:"Microsoft YaHei","微软雅黑","黑体","宋体",Helvetica,Arial,Tahoma;}
.container {position: relative; margin:0 auto; width:93%;max-width: 1780px;min-width: 1200px;height:auto;padding-bottom: 60px;}
.btn{-webkit-user-select:none;-moz-user-select:none;user-select:none;}
body{min-width: 1200px;}
/* ----End Reset---- */

/*---- Patchs---- */
.tl { text-align:left;}
.tr { text-align:right;}
.tc { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.cb { clear:both;}
.clearfix:after {content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix { *zoom:1; }
.relative { position:relative; }
.hide{ display:none;}
.more em,.song{ font-family:"宋体"; font-style:normal;}

/*---- end Patchs---- */

/*----Public font----*/
a {color:#b9b9b9;text-decoration:none; cursor:pointer;}
a:active, .btn:active { position:relative; right:-1px;bottom:-1px;}
a:hover { text-decoration:none;}
a,a:hover{ outline:none; blr:expression(this.onFocus=this.blur());}
.disable:active, .btn_disable:active { position:static;}
h1{ font-size:14px; color:#252525;}
h2{ font-size:16px; color:#727272;}
h2,h3,h4,h5,h6 { font-weight:normal;}
.f2 { color:#ffaa40;}
.f3 { color:#999;}
.f12 { font-size:12px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.blue { color:#0091ed;}
.green { color:#00b250;}
.red { color:#ca2a30;}
.orange { color:#F90;}
.gray { color:#333333;}
.operate { color:#ca2a30;text-decoration:underline;}
a.green, a.red { text-decoration:underline;}
/*----End Public font----*/

/*----form----*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none !important;margin: 0;}
input[type="number"]{ -moz-appearance: textfield;}
input,button,select,textarea { font-size:12px;font-family:"Microsoft YaHei","微软雅黑","黑体","宋体",Helvetica,Arial,Tahoma;vertical-align:middle; color:#333;outline:none;}
textarea{ overflow-x:hidden;overflow-y:auto;resize:none;border:1px solid #dadada;}
select{ height:22px; line-height:20px; border:1px solid #dadada;overflow:auto; vertical-align:middle;}
/*----End form----*/

/*error*/
.input-box label { font-weight:500;color:#707070;padding:0 20px 0 31px;white-space:nowrap;}
.input-box label.error { z-index:3;position:absolute;left:0;top:100%; margin-top:8px;line-height:22px; min-width: 12px; padding:5px 10px; font-size:12px; _float:left; border-radius:3px; box-shadow: 1px 1px 3px rgba(0,0,0,.3); background-color:#FF9900; color:#fff;}
.input-box label.error:before { content:'';position:absolute;left:5px;top:-8px;width:0;height:0;border-width:8px;border-color:transparent;border-style:dashed;border-right-style:solid;border-right-color:#F90;*overflow:hidden}
/*End error*/

/* page */
.page-bar {height:33px;margin: 20px 0;line-height:30px;font-size:14px;color:#666; text-align:right; }
.page-bar ul { float:right;}
.page-bar ul.fl { float:left;}
.page-bar ul li { float:left; margin-left:8px;}
.page-bar li:first-child { margin-left:0px}
.page-bar a{ position: relative;float:left;padding: 4px 10px;margin-left:-1px;line-height:1.4;color: #666;cursor: pointer;border: 1px solid #DFDFDF;text-decoration: none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.page-bar a:hover, .page-bar .active a { color:#fff;background-color:#0873df;border-color:#0873df;}
.page-bar i{ font-style:normal;margin:0px 4px;}
.page-bar .skip { padding:0 4px;}
.page-bar .input { margin:0px 4px; padding:4px;width:40px; height:30px;border: 1px solid #DFDFDF;text-align:center; font-size:14px;}
.page-bar .btn { width:54px; height:30px;border: 2px solid #0873df;background: #fff;color: #0873df;}
.page-bar a, .page-bar .input,.page-bar .btn{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
/* End page */

/* page new */
.pagination-wrapper {height:33px;margin: 20px 0;line-height:30px;font-size:14px;color:#666; text-align:right; }
.pagination-wrapper ul { float:right;}
.pagination-wrapper ul.fl { float:left;}
.pagination-wrapper ul li { float:left; margin-left:8px;}
.pagination-wrapper li:first-child { margin-left:0px}
.pagination-wrapper a{ position: relative;float:left;padding: 4px 10px;margin-left:-1px;line-height:1.4;color: #666;cursor: pointer;border: 1px solid #DFDFDF;text-decoration: none;-webkit-user-select:none;-moz-user-select:none;user-select:none;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.pagination-wrapper a:hover, .pagination-wrapper .active a { color:#fff;background-color:#0873df;border-color:#0873df;}
/* End page */


html, body, #app{
    position: relative;
    height: 100%;
}
.index-main .s1{
    background: #038ce2;
}
.about-main .s1{
    background: #088ad1;
}
.advantage-main .s1{
    background: #545e67;
}
.advantage-main .s4 .book-swiper .img-box {
     position: relative;
     height: 0;
     padding-bottom: 65.6%;
}
.advantage-main .s4 .book-swiper .img {
    position: absolute;
    width: 100%;
    height: 100%;
}